@use '@styles-utils/mixins' as m;
@use '@styles-utils/breakpoints' as bp;

.card {
  display: flex;
  position: relative;

  max-width: 102.4rem;
  min-height: 56.5rem;
  background-color: var(--card-bg);
  border-radius: 3.2rem;
  padding: 6rem 0 6rem 6rem;
  overflow: hidden;
  z-index: 0;

  @include bp.md {
    display: flex;
    padding-right: 6rem;
  }

  @include bp.sm {
    padding: 4rem;
  }

  @include bp.xs {
    padding: 2.4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 50.3rem;
  flex-shrink: 0.7;
  @include m.apply-margin-bottom-to-children-except-last(1.6rem);

  .text {
    flex: auto;
    line-height: 1.5;
  }

  .link {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    font-size: 1.8rem;
    color: var(--heading-text-color);
    font-weight: 500;
  }

  @include bp.md {
    flex-shrink: 1;
  }
}

.AlgaTop-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(120px);
  flex-shrink: 0.3;
  z-index: -1;

  @include bp.md {
    display: none;
  }

  img {
    border-radius: 0.8rem;
  }
}
