@use '@styles-utils/mixins' as m;
@use '@styles-utils/breakpoints' as bp;

.page-container {
  @include m.page-container;
}
.head-page-container {
  @include m.head-page-container;

  @include bp.md {
    margin-top: 8.5rem;
  }
  @include bp.sm {
    margin-top: 10.5rem;
  }
  @include bp.xs {
    margin-top: 12.5rem;
  }
}