.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  min-height: 32.6rem;
  border-top: 1px solid var(--black-10per);

  [data-theme='dark'] & {
    border-top: 1px solid var(--white-10per);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 102.4rem;
  margin: 3.2rem auto 0;
  color: var(--footer-text);
  padding: 4.2rem 0;

  .right-side {
    display: flex;
    column-gap: 12rem;

    h4 {
      font-weight: bold;
      color: var(--title-text-color);
      margin-bottom: 3.2rem;
    }

    .links,
    .socials {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
    }
  }
}

.blue-element {
  position: absolute;
  bottom: 0;
  transform: translate3d(61.029rem, 8.58rem, 0);
  height: 22.31rem;
  width: 74.719rem;
  background-color: var(--bg-blue-element);
  border-radius: 100%;
  filter: blur(8rem);
  z-index: -5;
}

.yellow-element {
  position: absolute;
  bottom: 0;
  transform: translate3d(12.683rem, 8.567rem, 0);
  height: 17.25rem;
  width: 74.719rem;
  border-radius: 100%;
  background-color: var(--bg-yellow-element);
  filter: blur(8rem);
  z-index: -5;
}

.red-element {
  position: absolute;
  bottom: 0;
  transform: translate3d(31.15rem, 11.19rem, 0);
  height: 32.89rem;
  width: 74.719rem;
  border-radius: 100%;
  background-color: var(--bg-red-element);
  filter: blur(5rem);
  z-index: -5;
}
