.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 102.4rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 1.6rem 1.6rem;
  background-color: var(--header-bg);
  border: 1px solid var(--white-25per);
  border-radius: 1.2rem;
  color: var(--header-text-links);
  transition: color ease-in-out 300ms;
}

[data-theme='dark'] .header  {
  border: 1px solid transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  column-gap: 4rem;
  padding: 0.35rem 0;
}

.social-links {
  display: flex;
  column-gap: 2.4rem;
  margin-right: 2.4rem;
}


