@mixin container{
  margin: 0 auto;
  max-width: 102.4rem;
}

@mixin apply-margin-bottom-to-children-except-last($margin) {
  > *:not(:last-child) {
    margin-bottom: $margin;
  }
}

@mixin gradient-transform-translate($minX, $maxX, $minY, $maxY) {
  
}