:root {
  // basic
  --black: #0D0D0D;
  --white: #FFFFFF;
  --onyx: #181818;
  --dark-grey: #808080;
  --medium-grey: rgba(128, 128, 128, 0.5);
  --light-grey: #C5C5C5;
  --light-blue: #C5C5C5;
  --light-red: rgba(233, 63, 64, 0.43);
  --light-yellow: rgba(255, 184, 0, 0.43);

  // dark
  --black-50per: rgba(21, 21, 21, 0.5);
  --black-30per: rgb(24, 24, 29, 0.3);
  --black-10per: rgb(21, 21, 21, 0.1);

  // light
  --faint-white: #F3F3F3;
  --white-10per: rgba(255, 255, 255, 0.1);
  --white-25per: rgba(255, 255, 255, 0.25);
  --white-70per: rgba(255, 255, 255, 0.7);

  // gradient
  --dark-gradient: linear-gradient(to bottom, #1A1A1A, #131313);
  --bg-blue-element: rgba(63, 100, 233, 0.43);
  --bg-yellow-element: rgba(255, 184, 0, 0.43);
  --bg-red-element: rgba(233, 63, 63, 0.43);

  // elements
  --main-bg: #FBFBFB;

  // header & footer
  --header-bg: var(--white-25per);
  --header-text-links: var(--onyx);
  --footer-text: var(--onyx);

  //heading
  --heading-text-color: var(--onyx);

  // text
  --main-text: var(--dark-grey);

  //btns
  --bg-secondary-btn: var(--faint-white);
  --text-secondary-btn: var(--onyx);

  --text-btn: var(--onyx);

  //cards
  --card-bg: #F6F6F6;
  --card-border: #EBEBEB;
}

[data-theme='dark'] {
  --main-bg: #0D0D0D;

  // header
  --header-bg: var(--black-30per);
  --header-text-links: var(--white-70per);
  --footer-text: var(--white-70per);

  //heading
  --heading-text-color: var(--white);

  //btns
  --sd-primary-btn:
          inset 0 1px 2px 0 rgba(255, 255, 255, 0.02),
          inset 0 2px 4px 0 rgba(255, 255, 255, 0.08),
          0 7px 4px 0 rgba(0, 0, 0, 0.15);

  --bg-secondary-btn: var(--onyx);
  --text-secondary-btn: var(--dark-grey);

  --text-btn: var(--white);

  //cards
  --card-bg: var(--onyx);
  --card-border: #383737;
}

