@use '@styles-utils/index';
@use '@styles-utils/mixins';
@use '@styles-utils/breakpoints' as bp;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  line-height: 1.2;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--main-text);
  background-color: var(--main-bg);
  transition: background-color ease-in-out 300ms;
  overflow-x: hidden;
}

p {
  font-size: 1.6rem; /* Fallback font size */
  font-size: clamp(1.5rem, 1.497rem + 0.068vw, 1.6rem);

  @include bp.xs {
    font-size: 1.5rem; /* Fallback font size for extra small screens */
  }
}

h1,
h2,
h3 {
  color: var(--heading-text-color);
}

h1 {
  font-size: 8rem;
  font-size: clamp(4.8rem, 4.5632vw + 3rem, 8rem);
  font-weight: 800;

  @include bp.xs {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 4.8rem;
  font-size: clamp(3.2rem, 3.158rem + 0.4086vw, 4.8rem);
  font-weight: 700;

  @include bp.xs {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.2rem;
  font-size: clamp(2rem, 1.968rem + 0.815vw, 3.2rem);
  font-weight: 800;

  @include bp.xs {
    font-size: 2rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 102.4rem;
}

.gradient-wrapper {
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  // overflow: hidden;
  max-width: 151.2rem; //1512
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1.6rem;
}

.text {
  color: var(--dark-grey);
}

.btn {
  font-size: 1.8rem;
  font-weight: 500;
}

.primary-btn {
  @extend .btn;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  background: var(--dark-gradient);
  padding: 1.9rem 3.2rem;
  border-radius: 0.9rem;
  color: var(--white);
  box-shadow: var(--sd-primary-btn);
}

.secondary-btn {
  @extend .primary-btn;

  box-shadow: none;
  background: var(--bg-secondary-btn);
  color: var(--text-secondary-btn);
}

.text-btn {
  @extend .btn;

  display: flex;
  column-gap: 0.8rem;
  color: var(--text-btn);
}

.icon {
  transition:
    filter ease-in-out 300ms,
    transform ease-in-out 300ms;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[data-theme='dark'] .icon {
  filter: invert(100%) opacity(0.75);
}
