@use '../shared/utils/index';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  line-height: 1.2;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-grey);
  background-color: var(--main-bg);
  transition: background-color ease-in-out 300ms;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 102.4rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 151.2rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  padding: 0 1.6rem;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  color: var(--title);
}

.text {
  font-size: 2.4rem;
  color: var(--dark-grey);
  font-weight: 500;
}

.primary-btn {
  display: flex;
  column-gap: 0.8rem;
  background: var(--dark-gradient);
  padding: 1.9rem 3.2rem;
  border-radius: 0.9rem;
  color: var(--white);
  box-shadow: var(--sd-primary-btn);
}

.secondary-btn {
  @extend .primary-btn;

  background: var(--onyx);
  color: var(--dark-grey);
}

.text-btn {
  display: flex;
  column-gap: 0.8rem;
  color: var(--text-btn);
}

.icon {
  transition:
    filter ease-in-out 300ms,
    transform ease-in-out 300ms;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[data-theme='dark'] .icon {
  filter: invert(100%) opacity(0.75);
}

